:root {
  --pageBackground: #B9D8C2;
  --formBackground: white;
  --formShadow: #898989;
  --formBorder: #898989;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pageBackground) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.connectForm {
  width: 50%;
  margin: auto;
  padding: 50px;
  font-size: 25px;
}

.connectTitle {
  margin: auto;
  text-align: center;
  padding: 50px;
}

.connectComponent {
  margin: auto;
  padding: 10%;
}

.connectBackground {
  margin: auto;
  width: 75%;
  background-color: var(--formBackground);
  border-radius: 30px;
  border: 2px solid var(--formBorder);
  box-shadow: 3px 3px 3px 3px var(--formShadow);
}

.opponentButtons {
  width: 300px;
  height: 100px;
}


.gameComponent {
  padding: 30px;
}

.gameNameContainer {
  display: flex;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
}

.gameFirstName {
  width: 50%;
  padding: 10px;
  border-radius: 30px 0px 0px 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.gameSecondName {
  flex: 1;
  padding: 10px;
  border-radius: 0px 30px 0px 0px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.gameSpace {
  background-color: white;
  height: 500px;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  border: 1px solid black;
}

.gameLeaveButtonContainer {
  float: right;
  padding: 10px;
}